body {
  margin: 0;
  font-family: 'iransans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'iransans';
  src: local('iransans'), url(./assets/fonts/iransans.ttf) format('truetype');
 
}